<!-- TODO: HTML AUS AUFGABE2 HIERHER KOPIEREN UND DIE BEISPIEL-EINTRÄGE DER DISCOVERY-LISTE MIT DEN FOLGENDEN ZEILEN ERSETZEN -->
<!DOCTYPE html>

<!-- File origin: VS1LAB A1a -->
<!-- test  -->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTagApp</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="header">
        <img src="./images/location.png" class="header__image" alt="an image of a map and location" id="header_icon">
        <h1 class="header__title">GeoTagApp</h1>
        <nav class="header__navigation">
            <a href="#">About</a> | <a href="#">Help</a> | <a href="/">Home</a>
        </nav>
    </header>

    <main class="main">
        <section class="main__tagging tagging col-3">
            <h2>Tagging</h2>

            <!-- ############### VS1Lab 1a Form 1 Start -->
            <form id="tag-form" action="/tagging" method="post">

             <fieldset>
                <legend>Add a new GeoTag</legend>
                    <div class="tagging_field">
                        <label for="Latitude">Latitude:</label> 
                        <input type="text" id="lat" name="Latitude" placeholder="<%= latitude %>"  value=<%latitude%>>
                            
                        <label for="Longitude">Longitude:</label> 
                        <input type="text" id="long" name="Longitude" placeholder="<%= longitude %>" value=<%longitude%>>
                            
                        <label for="Name">Name:</label> 
                        <input type="text" id="name" name="Name" placeholder="e.g. Central Berlin" maxlength="10" required>
                        <label for="Hashtag">Hashtag:</label> 
                        <input type="text" id="hash" name="Hashtag" placeholder="e.g. #ber" maxlength="11"pattern = "[#][A-Za-z]{1,10}$">
                        <input type="submit" id="add" name="Add Tag" value="Add Tag">
                    </div>
                </fieldset>
                    
                <!-- ... your code here ... -->

            </form>
            <!-- ############### VS1Lab 1a Form 1 End -->

        </section>

        <section class="main__discovery discovery col-9">
            <h2 class="discovery__title">Discovery</h2>

            <!-- ############### VS1Lab 1a Form 2 Start -->
            <form class="discovery__search" id="discoveryFilterForm" action="/discovery" method="post">

                <fieldset>
                    <legend>Search</legend>
                    <div class="discovery_field">
                        <label for="Search">Search term or keywords:</label>
                        <input type="text" id="search" name="Search" placeholder="e.g. Berlin">

                        <input type="hidden" id="hidden_lat" name="Latitude">
                        <input type="hidden" id="hidden_long" name="Longitude">

                        <input type="submit" id="searchConfirm" name="SearchConfirm" value="Search">
                    </div>
                </fieldset>
                    

                <!-- ... your code here ... -->

            </form>
            <!-- ############### VS1Lab 1a Form 2 End -->

            <div class="discovery__wrapper">
                <div class="discovery__taglist">
                    <div id="discoveryResults">
                        <% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
                            <li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
                        <% }); %>
                    </div>
                </div>

                <div class="discovery__map">
                    <img src="./images/mapview.jpg" alt="a map with locations" id="mapView" />
                    
                    <div class="result_map_text">
                        Result map
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer">
        <span>(c) 2021/22 HKA_IWI_VSYS</span>
    </footer>
    <script src="../public/javascripts/geotagging.js"></script>
    <script src="../public/javascripts/location-helper.js"></script>
    <script src="../public/javascripts/map-manager.js"></script>
</body>

</html>

